<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="SingleFileTrasher" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="SingleFileTrasher" />
  </assemblies>
  <clientResources>
    <add name="trashCss" path="ClientResources/styles/trash.css" resourceType="Style"  />
  </clientResources>
  <clientModule initializer="customTrash/storeInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="trashCss" />
    </requiredResources>
  </clientModule>
  <dojo>
    <paths>
      <add name="customTrash" path="ClientResources/scripts" />
    </paths>
  </dojo>
</module>
